# Build outputs
dist/
.astro/
_site/

# Dependencies
node_modules/

# Environment and logs
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Python & OS
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.vscode/
.idea/
