<!DOCTYPE html>
<html>
<head>
    <title>
        draw star by number
    </title>
</head>
<body>
    <!--
    - submit 버튼의 경우 form 내부에 있는 모든 정보(input 들)을 서버로 전달해주는 것이라고 보면 좋습니다. 
    - 여기서 name을 'num'으로 설정했는데, 이는 해당 데이터의 변수 이름이라고 생각하시면 됩니다. 
    - POST방식으로 num에 저장된 값을 읽어서 처리해줍니다. 
    -->
    <form method="POST" action="/calculate">
        <h1> 숫자만큼 별을 표시해줍니다. </h1><br>
        <input type="text" name="num">
        <button type="submit">숫자만큼 별 표시하기</button>
    </form>
    <div>
        <p>
            {% if num == None %}
                <h5> 아직 아무 값도 입력이 안되었습니다. </h5>
            {% else %}
                <h5> {{num}} 를 입력받았습니다. </h5>
                {% for i in range(1, num+1) %}
                <p>
                    {% for j in range(0, i) %}
                        *
                    {% endfor %}
                </p>
                {% endfor %}
            {% endif %}
        </p>
    </div>
</body>
</html>