/******************************************************************
** TAGS
*******************************************************************/

/*
페이지에서 링크되는 링크가 마음에 안들어서 수정하기로 함.
section.page__content a{
    color:#e98400;
}
*/

#tags {
    .tag-box {
        list-style: none;
        margin: 0;
        padding: 2px 0;
        overflow: hidden;
        *zoom: 1;
    }
    .tag-box:before,
    .tag-box:after {
        display: table;
        content: "";
        line-height: 0;
    }
    .tag-box:after {
        clear: both;
    }
    .tag-box.inline li {
        float: left;
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 1.5;
    }
    .tag-box a {
        padding: 4px 6px;
        margin: 2px;
        color: $text-color;
        background-color: $primary-color;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        text-decoration: none;
        &:hover {
            background-color: mix(#d8d8d8, $primary-color, 20%);
        }
    }
    .tag-box a span {
        color: mix(#777777, $text-color, 30%);
        vertical-align: super;
        font-size: 10px;
        font-size: 0.625rem;
    }
    .entry-date {
        font-size: 0.8em;
        color: $primary-color;
        border-radius: 4px;
        background-color: #e6e6e6;
        display: inline-block;
        min-width: 7em;
        text-align: center;
    }
}


/******************************************************************
** ARCHIVE
*******************************************************************/

.archive-date {
    color: $primary-color;
    font-size: 0.8em;
    border-radius: 4px;
    background-color: #e6e6e6;
    display: inline-block;
    min-width: 2em;
    margin-right: 0.5em;
    text-align: center;
}

/* _base.scss에 있던 내용을 .scss로 옮김 */
ul.posts li a:hover{
    text-decoration: underline;
  }

/* 여기서 그냥 바꿨다. 이게 훨씬 예쁨.*/
section.page__content{
    a{
        color: $link-color;   
    }
    a:hover{
        color:$link-color-hover;
    }
    /*
    a:visited{
        color:$link-color-visited;
    }
    */
}
nav.pagination a.pagination--pager{
    color:mix($link-color, #111111, 90%);
}

/* 글 본문 폰트 적용*/
body {
    font-family: 'Nanum Gothic Coding', serif;
}

/* 블로그 들어갔을때 글 제목 폰트 변경*/
div {
    article{
        h2{
            a{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}
/* 글 내의 타이틀 변경*/
article{
    div{
        header{
            h1{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}
article{
    div{
        section{
            h2{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}
/*아카이브에서 글 폰트 변경*/
div{
    article{
        div{
            a{
                font-family: 'Nanum Gothic Coding', serif;
            }
        }
    }
}